<!DOCTYPE html>
<html>
        <head>
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
        <title> DOWNTOWN</title>
        
        <style> 
        body{ 
       background-color: #FFE4E1; 
       }
        
      h1 { 
        color: #FF9D9D;
        text-align: center;
      } 
      
      h1 { 
        font-family: 'Patrick Hand'; cursive 
      } 
        </style> 
        
    </head>
    
    <body>
      
      <h1> DOWNTOWN</h1>
     
      
        <div class="row">
         <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="http://www.adventurouskate.com/wp-content/uploads/2016/04/DSCF4611.jpg">
                <span class="card-title">BLACK TAP</span>
              </div>
              <div class="card-content">
                <p>These outrageous milkshakes have been trending on every social medium there is. Black Tap is building the sugar-lover's dream dessert fully loaded with toppings like M&Ms, cotton candy, rock candy and chocolate chip cookies.</p>
              </div>
              <div class="card-action">
                <a href="https://www.yelp.com/biz/black-tap-craft-burgers-and-beer-new-york-2">READ THEIR REVIEWS ON YELP</a>
              </div>
            </div>
          </div>
        <div class= "col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJn0xfg4xZwokRlPaF8Fknp4k&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div> 
      
         </div>
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://media1.popsugar-assets.com/files/thumbor/hec4we-j-gsjUSR1NR3_mC8kgew/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/08/21/830/n/1922195/cf8585bd_edit_img_image_1346512_1440179964_sq/i/What-10-Below-Rolled-Ice-Cream.jpg">
              <span class="card-title">10BELOW</span>
            </div>
            <div class="card-content">
              <p>Why eat your ice cream in a scoop when you can have it in 5 spiral rolls? 10Below is changing the ice cream game with this new twist on your favorite sweet. The best part of this deal is that they're loading on the toppings.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/10below-ice-cream-new-york-3">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
         <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJFevTkiZawokRcmp-XgCxLqs&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
       

      </div>
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.glenwoodnyc.com/manhattan-living/wp-content/uploads/2014/04/dominique-ansel-bakery-soho-cookie-shots.jpg">
              <span class="card-title"> <p id = momo > DOMINIQUE ANSEL BAKERY</p></span>
            </div>
            <div class="card-content">
              <p>This classic from Dominique Ansel Bakery is a must-try on your trip to NYC. People wait in line for hours to try this new food trend. A cookie shot glass is completed with cool milk poured in right before your eyes. This dessert isn’t just a treat: it’s an experience.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/dominique-ansel-bakery-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        
          <div class="col s6"> 
          <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP0KOWoxZwokRmvPiQAIaH1A&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
          </div>
  
      </div>
                <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11377440_1627552997482714_367645413_n.jpg">
              <span class="card-title"> <p id = momo > BIG GAY ICECREAM</p></span>
            </div>
            <div class="card-content">
              <p> Big Gay Ice Cream has been taking NYC by storm with multiple storefronts and a truck. This shop is known for its rainbow decor and innovative toppings. Get your cone rolled in crushed Nilla wafers or a rocky road mixture.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/big-gay-ice-cream-shop-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        
          <div class="col s6"> 
          
          <iframe width="600" height="450" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJBxqARp1ZwokR6XsKO2w7r6A&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
          </div>
          
      </div>
              
              
              <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://cbsnews1.cbsistatic.com/hub/i/r/2017/01/26/72b0e9e6-cfa3-43b3-9c87-347dcd5c498f/resize/620x/5c5b75dde8884a7967c0156aebccb53a/sprinkle-edible-cookie-dough-2.jpg">
              <span class="card-title">COOKIE DO</span>
            </div>
            <div class="card-content">
              <p>Gourmet Edible, Bakeable, Customizable Cookie Dough! Try this delicious NYC treat today!</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/d%C5%8D-cookie-dough-confections-new-york-2">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
          <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJq3ulhQRZwokR9FPE1SAaCsM&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
       
       
       <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://modamadison.com/wp-content/uploads/2015/07/MomofukuMilkBar.jpg">
              <span class="card-title"> <p id = momo > MOMOFUKU MILK BAR</p></span>
            </div>
            <div class="card-content">
              <p>Momofuku Milk Bar has been an NYC classic for years. It serves products like crack pie , cereal milk ice cream, and birthday cake truffles.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/momofuku-milk-bar-new-york-4">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJkXQ3_INZwokRLzGnCvUXrdE&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      
      </div>
    
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.palateconnect.com/wp-content/uploads/2017/06/20170509_Snow-Days-Heidi-Blog_0067.jpg">
              <span class="card-title">SNOW DAYS</span>
            </div>
            <div class="card-content">
              <p> With ridiculous toppings and a variety of flavors, Snowdays will make you want to give up ice cream for good. It’s featured frequently on @new_fork_city, one of NYC’s most famous food Instagrams.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/snowdays-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
      <div class="col s6"> 
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKSJrvJ1ZwokRewUS1HAN33U&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
      </div>
      </div>
    
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.worldofbuzz.com/wp-content/uploads/2017/01/laduree-and-paul-bakery-are-finally-coming-to-malaysia-world-of-buzz-4.jpg">
              <span class="card-title">LADURÉE</span>
            </div>
            <div class="card-content">
              <p>Coming straight from Paris, these macarons are as authentic as you can get. The Ladurée SoHo storefront will transport you to a high tea parlor in France with its delicate pink and green decorations.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/ladur%C3%A9e-soho-new-york-2">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM767a4xZwokRXyq8NCoE33I&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>

         
         
          <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://spoonuniversity.com/wp-content/uploads/sites/65/2016/05/Screen-Shot-2016-05-03-at-4.09.12-PM-967x1024.png">
              <span class="card-title">BOULTON AND WATT</span></span>
            </div>
            <div class="card-content">
          <p> Boulton and Watt serves a warm chocolate chip cookie in a mini skillet with a small pitcher of milk on the side. A must-try for children and adults alike.</p>
          </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/boulton-and-watt-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
      <div class="col s6"> 
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY6W5toNZwokR9YnPGFUN4es&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
      </div>
      </div>
    
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://maxbrenner.com/wp-blog/wp-content/uploads/2014/01/131022_MaxBrenner_066.jpg">
              <span class="card-title">MAX BRENNER</span>
            </div>
            <div class="card-content">
              <p>Max Brenner is bringing the gift of chocolate to the world, centering its entire restaurant menu around chocolate. </p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/max-brenner-new-york-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJy9yY5JhZwokRoHFfVHqopeg&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
    
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/a7/00/e6/a700e68a92673af06960154536b2c387.jpg">
              <span class="card-title">EGGLOO</span>
            </div>
            <div class="card-content">
              <p>The egg waffle cone from Eggloo is straight out of Hong Kong. Their light and fluffy cones perfectly compliment your loaded ice cream. </p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/eggloo-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP1k-ICdawokRaBa5u___YiE&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://static.wixstatic.com/media/694fa2_a9645444f9cb444d8fe05983da6c79c8.jpg_srz_1863_1242_85_22_0.50_1.20_0.00_jpg_srz">
              <span class="card-title"> <p id = momo >DOUGHNUTTERY</p></span>
            </div>
            <div class="card-content">
              <p>Doughnuttery’s baby donuts have a home in Chelsea Market, where you can watch the employee fry and coat your donuts with toppings of your choosing.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/doughnuttery-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        
        <div class= "col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5clTZ79ZwokRqcGLt3vKjfw&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div> 
        
      </div>
        
        </body>
        </html>