<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <title> NYC DESSERTS</title>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
        
      
    
    </head>
    
    
    <style>
        h1{font-family: 'Dosis', sans-serif; 
        }
        body{
          background-color: white;
          
        }
        
        h1 { 
          font-size: 75px;
        }
        h1 { 
          color: #FF9D9D;
        }
        h1 { 
          font-family: 'Patrick Hand', cursive;
          text-align: center;
        } 
   
      p { 
        font-family: 'Patrick Hand', cursive ;
        text-align: center;
        color: #FF9D9D;
        font-size: 200%; 
      } 
      h5 {font-family: 'Patrick Hand', cursive;
      }

       
      #ponque { 
        width: 50px ;
      } 
      
      #ponque { 
        position: absolute ;
        left: 600px;
        ;
      } 
      
      #upbutton { 
        position: absolute;
        right: 900px;
        top: 860px;
        z-index:100;
      } 
      
      #downbutt {
        position: absolute;
        right: 200px;
        top: 860px;
                z-index:100;

      }
      
      #midbutton { 
        position: absolute;
        right: 550px;
        top: 860px;
                z-index:100;

      }
      
      #midbutton {
        color: white;
      }
      #upbutton{
        color: white;
      
      }
      
      #downbutt { 
        color: white;
      } 
       
       
      .parallax{
  position:static;
 
        
      }
         
    </style>
    
    
    
    <body>
      
      
  
     <nav>
    
    <div class="">
      <a href="#" class="brand-logo"> <img id = ponque "responsive-img"  src = "http://openoffice.blogs.com/openoffice/images/2007/10/04/cupcake.png">  </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
       </div>
    
    </nav>
   
  
  <div class="parallax-container">
      
     
    <div class="parallax"><img src="http://pixel.nymag.com/imgs/daily/grub/2016/05/26/magazine/26-classic-desserts-lede.w710.h473.2x.jpg"></div>
  <div class="row container">
    <!--  <form method= "POST" action="/uptown" >-->
    <!--<button id = "upbutton" type= "submit" value= "uptown" class="waves-effect waves-light btn-large">UPTOWN</button>-->
    <!--</form>-->
    
    <!--<form method= "POST" action="/midtown" >-->
    <!--  <button id ="midbutton" type= "submit" value = "midtown" class="button Maroon  waves-effect waves-light btn-large">MIDTOWN</a>-->
    
    <!--</form>-->
    
    <!--<form method= "POST" action="/downtown" >-->
    <!--  <button id = "downbutt" type= "submit" value="downtown" class="button Maroon  waves-effect waves-light btn-large">DOWNTOWN</a>-->
    <!--</form>-->
      
      
    </div>
     
  </div>      

   <div class="section white">
    <div class="row container">
          

      <h1 class="header">THE BEST DESSERTS IN NEW YORK CITY</h1>
      <p class="grey-text text-darken-3 lighten-3">PICK YOUR LOCATION                                   
  <!--<div class="parallax"><img src="http://pixel.nymag.com/imgs/daily/grub/2016/05/26/magazine/26-classic-desserts-lede.w710.h473.2x.jpg"></div>-->
    <div class="row container">
        <form method= "POST" action="/uptown" >
    <button id = "upbutton" type= "submit" value= "uptown" class="waves-effect waves-light btn-large">UPTOWN</button>
    </form>
    
    <form method= "POST" action="/midtown" >
      <button id ="midbutton" type= "submit" value = "midtown" class="button Maroon  waves-effect waves-light btn-large">MIDTOWN</a>
    
    </form>
    
    <form method= "POST" action="/downtown" >
      <button id = "downbutt" type= "submit" value="downtown" class="button Maroon  waves-effect waves-light btn-large">DOWNTOWN</a>
    </form>
      </div>
    </div>
  </div> 
  
    
      
  
    
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://pixel.nymag.com/imgs/daily/grub/2016/05/26/magazine/26-classic-desserts-lede.w710.h473.2x.jpg"></div>
  </div>
  </p>
    
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  
  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                
                <p class="grey-text text-lighten-4">Made By: Amanda Qiu and Bettina Oberto</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="bettinaoberto04@gmail.com">bettinaoberto04@gmail.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="amandaq414@gmail.com">amandaq414@gmail.com</a></li>
               
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            
            </div>
          </div>
        </footer>
        
    </body>
    
</html>
