<!DOCTYPE html>
<html>
        <head>
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        <title>MIDTOWN</title>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
  
         
    </head>
    <style> h1{font-family: 'Patrick Hand', cursive;
    color: #FF9D9D;
    text-align: center;
    
      }
      body{ background-color:#FFE4E1;
      }
     
</style>
<body>
<h1>MIDTOWN</h1>
       <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://modamadison.com/wp-content/uploads/2015/07/MomofukuMilkBar.jpg">
              <span class="card-title"> <p id = momo > MOMOFUKU MILK BAR</p></span>
            </div>
            <div class="card-content">
              <p>Momofuku Milk Bar has been an NYC classic for years. It serves products like crack pie , cereal milk ice cream, and birthday cake truffles.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/momofuku-milk-bar-new-york-14">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
      <div class="col s6"> 
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC0D1a_pYwokRJ1ZGonOp1j8&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
      </div>
      </div>
      
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://citycookin.com/wp-content/uploads/2015/02/IMG_4350edited.jpg">
              <span class="card-title">MAGNOLIA BAKERY</span>
            </div>
            <div class="card-content">
              <p>Magnolia Bakery has been serving up legendary cupcakes for as long as we can remember, but it's really hit the jackpot with its banana bread pudding.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/magnolia-bakery-rockefeller-center-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJn-0C8uVYwokRR6fCmIDHYdk&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
            <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.eatprayflying.com/wp-content/uploads/2013/10/Lady-M-Trail-3.jpg">
              <span class="card-title"> <p id = momo > LADY M CAKES</p></span>
            </div>
            <div class="card-content">
              <p>Lady M® Confections prides itself on creating the freshest and finest handmade cakes. Its pastry chefs follow recipes that have been refined over the years to provide the highest quality in taste and appearance. </p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/lady-m-cake-boutique-new-york-3">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJi9KWY_BYwokRYSqtmm8r3cA&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
          
          
          <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://nyc-wpengine.netdna-ssl.com/wp-content/uploads/2014/12/schm2.jpg">
              <span class="card-title"> <p id = momo > SCHMACKARY'S</p></span>
            </div>
            <div class="card-content">
              <p>This bakery specializing in cookies offers 45+ different varieties, including gluten-free options.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/schmackarys-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
      <div class="col s6"> 
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQ2xExlNYwokRtZDyhPzCex0&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
      </div>
      </div>
      
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/18382303_308370102918605_8206810143258574848_n.jpg">
              <span class="card-title">INSOMNIA COOKIES</span>
            </div>
            <div class="card-content">
              <p>Insomnia Cookies specializes in delivering warm, delicious cookies right to the doors of individuals and companies alike - until 3am.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/insomnia-cookies-new-york-10?osq=INSOMNIA+COOKIES">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        
        <div class="col s6">
          <iframe width="600" height="450" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZajPhONYwokRyXRZpJIvdQU&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
          
        </div>
      </div>
       <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://eatupnewyork.com/wp-content/uploads/2014/11/lg_43964_4.jpg">
              <span class="card-title">HOLEY CREAM</span>
            </div>
            <div class="card-content">
              <p>This hole-in-the-wall shop just does dessert right. At Holey Cream, you can build your own donut down to the glaze and topping, but the fun doesn’t end there. They’ll slice the donut open and turn it into a custom ice cream sandwich.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/holey-cream-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
          </div> 
          <div class="col s6">
          <iframe width="600" height="450" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8V8OXVdYwokRdjy8avZG6KE&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
          
        </div>
       </div>
   
 
  
      
     </body>
     </html>