<!DOCTYPE html>
<html>
        <head>
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        <title> UPTOWN</title>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    </head>
    <style>
      body{background-color: #FFE4E1;
      text-align: center;
      }
      h1{font-family: 'Patrick Hand', cursive;
      color: #FF9D9D;
      text-align: center;
      }
    </style>
    
<body>
    <h1> UPTOWN </h1>
    
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://kirbiecravings.com/wp-content/uploads/2017/02/levain-bakery-copycat-chocolate-chip-cookies-6-700x809.jpg">
              <span class="card-title">LEVAIN</span>
            </div>
            <div class="card-content">
              <p>Perfectly photogenic and instagrammable, these chocolate chip cookies are anything but boring. Levain Bakery has grown famous for the melty, gooey inside of their chocolate chip cookies.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/levain-bakery-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ6SmehIlYwokRaO14xlmbWZU&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
  
       <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://modamadison.com/wp-content/uploads/2015/07/MomofukuMilkBar.jpg">
              <span class="card-title"> <p id = momo > MOMOFUKU MILK BAR</p></span>
            </div>
            <div class="card-content">
              <p>Momofuku Milk Bar has been an NYC classic for years. It serves products like crack pie , cereal milk ice cream, and birthday cake truffles.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/momofuku-milk-bar-new-york-6">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVVTRs4RYwokRgrurAm3M5Hw&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
        
        
        <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/18382303_308370102918605_8206810143258574848_n.jpg">
              <span class="card-title">INSOMNIA COOKIES</span>
            </div>
            <div class="card-content">
              <p>Insomnia Cookies specializes in delivering warm, delicious cookies right to the doors of individuals and companies alike - until 3am.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/insomnia-cookies-new-york-2?osq=INSOMNIA+COOKIES">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
      <div class="col s6"> 
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJu59nrL5YwokRlNqwmyk6OpA&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
      </div>
      </div>
      
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.eatprayflying.com/wp-content/uploads/2013/10/Lady-M-Trail-3.jpg">
              <span class="card-title"> <p id = momo > LADY M CAKES</p></span>
            </div>
            <div class="card-content">
              <p>Lady M® Confections prides itself on creating the freshest and finest handmade cakes. Its pastry chefs follow recipes that have been refined over the years to provide the highest quality in taste and appearance. </p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/lady-m-cake-boutique-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJYQ4UtZVYwokRjMIRgbmtnk8&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/7d/74/1a/7d741a2f779f9ed3dcb1b3088d43302f.jpg">
              <span class="card-title"> <p id = momo > SERENDIPITY 3</p></span>
            </div>
            <div class="card-content">
              <p>Serendipity 3 has been doing dessert right since 1954. Frozen hot chocolate stars on the ice-cream-and-sweets menu at this old-school dessert destination. Perfect for sharing, this luxurious frozen hot chocolate is not just a cool treat but a social experience.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/serendipity-3-new-york">GO TO THEIR WEBSITE</a>
            </div>
          </div>
        </div>
        <div class="col s6"> 
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7VRAqalZwokR48bbQlnev8w&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
        </div>
      </div>
        
        
        <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.worldofbuzz.com/wp-content/uploads/2017/01/laduree-and-paul-bakery-are-finally-coming-to-malaysia-world-of-buzz-4.jpg">
              <span class="card-title">LADURÉE</span>
            </div>
            <div class="card-content">
              <p>Coming straight from Paris, these macarons are as authentic as you can get. The Ladurée SoHo storefront will transport you to a high tea parlor in France with its delicate pink and green decorations.</p>
            </div>
            <div class="card-action">
              <a href="https://www.yelp.com/biz/ladur%C3%A9e-madison-new-york">READ THEIR REVIEWS ON YELP</a>
            </div>
          </div>
        </div>
     <div class="col s6"> 
     <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSZqmkOxYwokRZGIhd_HRkKM&key=AIzaSyAX3moIwd4asSU6CbYLng4loc1H6QrK7JY" allowfullscreen></iframe>
     </div>
     
      </div>
       
      
</body>
   
    
    
    
    
</html>